body {
  font-family: var(--primaryFont);
  margin: 0;
  padding: 0;
}

div, * {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.relative {
  position: relative
}
.bold {
  font-weight: 600;
}

.leftSide {
  width: 660px;
  padding-top: 36px;
}

.rightSide {
  width: 326px;
  margin-left: 93px;
  padding-top: 56px;
}
.box {
  border: solid 1px #eaeaea;
  border-radius: 5px;
}
.innerBox {
  padding: 29px 39px;
}

h4 {
  font-size: 20px;
  margin: 0;
  line-height: 150%;
}
h5 {
  font-size: 16px;
  line-height: 150%;
}
p.info {
  font-size: 12px;
  line-height: 150%;
  color: var(--textColor);
}
.title {
  position: relative;
  margin-bottom: 40px;
  display: inline-block;
}
.noMargin {
  margin: 0;
}
.title.noMargin{
  margin: 0;
}
.title::after {
  content: '';
  height: 4px;
  background: var(--secondaryColor);
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.tags {
  border-radius: 5px;
  background: #fff;
  border: solid 1px #e9e9e9;
  color: #828282;
  font-size: 12px;
  padding: 3px 10px;
}

.col-full {
  width: 100%
}

.separator {
  height: 1px;
  width: 100%;
  background: #eee;
  margin: 30px 0;
}

.golongan--item {
  margin-bottom: 20px;
}

.cctv .f.f-w .btn {
  margin: 3px;
}

.hasilKerjaKami {
  background: #fcfcfc;
  padding: 55px 0
}

.swiper-container-horizontal>.homeCarousel--pagination.swiper-pagination-bullets{
  bottom: 50px;
  position: absolute;
}

.homeCarousel--pagination .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
}
.hasilKerjaKami {
  overflow: hidden
}
/* .homeCarousel {
  overflow: hidden;
} */
.newInformation-swiper {
  overflow: hidden;
}
#resultSimulation p {
  margin: 5px 0;
}

#resultSimulation h2 {
  margin: 0;
  color: var(--primaryColor)
}
.col-half {
  width: 50%;
}

p strong {
  font-weight: 600;
  color: inherit;
}

a.tag {
  padding: 5px 20px;
  font-size: 16px;
  background: #eaeaea;
  color: #828282;
  border-radius: 5px;
  margin-right: 5px;
}

a.tag:hover {
  background: #ddd;
}

.not-found {
  min-height: 70vh;
}

.not-found img {
  height: 220px;
  width: 220px;
  margin-bottom: 30px;
}
.not-found h3 {
  margin: 0;
}
.not-found p {
  color: var(--textColor);
  margin: 10px 0;
}

.quote {
  text-align: center;
  padding: 20px 20px;
  background: #eee;
  position: relative;
  font-size: 16px;
  font-family: var(--titleFont);
  margin: 40px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border: solid 1px #eaeaea
}
.quote img {
  position: absolute;
  top: -10px;
  width: auto!important;
}
.quote img:first-child {
  margin-left: -35px;
}

@media screen and (max-width: 768px){
  .col-full-mobile{
    width: 100%
  }
  .quote img:last-child {
    right: 0;
  }
}