.blog-photo {
  width: 100%;
  margin: 30px 0;
  margin-bottom: 0;
}

.blog-header p {
  font-size: 14px;
}

.blog {
  width: 747px;
  margin: 0 auto;
  padding: 30px 0;
}

.blog-content p:not(.info) {
  font-size: 18px;
  line-height: 206%;
  margin: 30px 0;
  color: var(--textColor)
}
.blog-content p.nm {
  margin: 5px 0;
}
.blog-content ul li {
  font-family: var(--primaryFont);
  color: var(--textColor);
  line-height: 150%;
  list-style-type: initial;
  margin-left: 20px;
}
.blog-content p.info {
  font-size: 12px;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}
.blog-footer {
  padding: 50px 0;
}

.other-post {
  background: #fafafa;
}
.leftMenu {
  min-width: 280px;
  border-right: solid 1px #eee;
  position: relative;
}
.leftMenu .float-menu.fixed {
  position: fixed;
  top: 85px;
  z-index: 9;
}
.leftMenu .float-menu.absolute {
  position: absolute;
  bottom: 0;
}
.leftMenu ul li a {
  color: var(--textColor);
  padding: 10px 25px;
  margin: 5px 0;
  white-space: nowrap;
}
.leftMenu ul li a:hover {
  color: var(--primaryColor);
}
.leftMenu ul li a.active {
  background: rgba(254, 215, 0, .2);
  color: var(--primaryColor);
  font-weight: 600;
  border-radius: 8px;
}
.rightContent {
  width: calc(100% - 280px);

}
.rightContent--post {
  max-width: 660px;
  margin: 0 auto;
  width: 100%;
}
.rightContent--post.blog-content p:not(.info) {
  font-size: 16px;
}
.rightContent h3 {
  font-size: 28px;
  margin: 5px 0;
  font-family: var(--titleFont);
}
.rightContent--post .footer-social {
  margin-top: 50px;
  padding-top: 50px;
  border-top: solid 1px #eee;
}
.staticPost {
  margin: 120px 0;
}
.staticPost img {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: contain;
}
.personItem {
  margin: 40px 0px;
  width: 210px;
}
.personItem .picture {
  border-radius: 50%;
  overflow: hidden;
  height: 143px;
  width: 143px;
}
.personItem p {
  font-family: var(--titleFont);
  margin: 10px 0 0!important;
  font-size: 16px;
  color: var(--primaryColor)!important;
  text-align: center;
}
.personItem span {
  font-size: 14px;
  color: var(--textColor);
  text-align: center;
}
.personItem .picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px){
  .blog {
    width: 100%;
  }
  .personItem .picture {
    width: 100px;
    height: 100px;
  }
  .blog-header h1 {
    font-size: 20px;
    line-height: 150%;
  }
  .blog-content p:not(.info) {
    font-size: 16px;
  }
  .blog .footer-social {
    margin-top: 30px;
  }
  .leftMenu {
    border-right: none;
  }
  .rightContent {
    width: 100%
  }
  .staticPost {
    margin: 60px 0;
  }
  .blog-content img {
    width: 100%;
  }
  .leftMenu ul {
    overflow-x: auto;
    margin-bottom: 40px;
  }
}