.btn {
  background: none;
  border: none;
  outline: none;
  padding: 10px 32px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  line-height: 150%;
  cursor: pointer;
  height: 45px;
  transition: .125s ease;
}
.btn.big {
  height: 50px;
  font-size: 18px;
  min-width: 200px;
  justify-content: center;
}
.btn-primary {
  background: var(--secondaryColor);
  color: var(--primaryColor);
}
.btn-primary:hover {
  background: var(--secondaryColor-light);
  box-shadow: var(--cardShadow)
}

.inlineButton {
  font-size: 14px;
  font-weight: 600;
  line-height: 165.5%;
  color: var(--primaryColor);
}
.inlineButton svg {
  position: relative;
  margin-left: 10px;
  top: 1px;
}

.btn-ghost-secondary{
  border: solid 1px var(--primaryColor);
  color: var(--primaryColor)
}

.btn.small {
  font-size: 14px;
  font-weight: 400;
  padding: 3px 20px;
  height: 35px;
  line-height: 2;
}
.formButtonStack button {
  margin-bottom: 10px;
}
.btn.rounded {
  border-radius: 50px;
  font-weight: 600;
}
.link {
  color: #2d9cdb;
  text-decoration: underline;
}