.card h5 {
  font-size: 16px;
  color: var(--primaryColor);
  line-height: 150%;
  margin: 0;
}
.card h5:hover {
  color: var(--primaryColor-dark)
}
.card p {
  font-size: 14px;
  color: var(--textColor);
  line-height: 150%;
  margin: 14px 0;
}
.card span.time {
  font-size: 12px;
  color: var(--textColor);
  margin-right: 15px;
}

.newsCardBig .picture {
  height: 325px;
  margin-bottom: 15px;
  overflow: hidden;
}
.newsCardBig .picture a {
  height: 100%;
  width: 100%;
}
.newsCardBig .picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card.video {
  transition: .2s ease;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.card.video:hover {
box-shadow: var(--cardShadow);
}
.card.video .picture {
  width: 202px;
  min-width: 202px;
  height: 135px;
  margin-right: 34px;
  border-radius: 8px;
  overflow: hidden;
}
.card.video .desc {
  padding: 10px 15px 10px 0;
  max-height: 135px;
}
.card .picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card.boxCard {
  width: 326px;
  /* background: #fff; */
  /* border: solid 1px #f7f7f7; */
  transition:.2s ease;
  position: relative;
  /* border-radius: 8px; */
  overflow: hidden;
  margin: 17px;
  border-bottom: dashed 2px #eaeaea;
}
/* .card.boxCard::after {
  content:'';
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 0;
  background: var(--secondaryColor);
  left: 0;
  transition: .4s ease;
} */
.card.boxCard h5 {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 100%;
  line-height: 150%;
  font-family: var(--titleFont)
}
.card.boxCard .picture {
  height: 175px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.card.boxCard:hover .picture .overlay {
  opacity: 1;
}
.card.boxCard .picture .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(254, 215, 0, 0.6);
  opacity: 0;
  transition: .5s ease;
}
.card.boxCard .picture .overlay img {
  width: 70px;
  height: 70px;

}
.card.boxCard p {
  margin: 5px 0;
}
.card.boxCard  .desc {
  padding: 12px 15px 20px;
}
.card .desc p a {
  color: #2d9cdb;
}
.card .desc em {
  font-style: initial
}
.card .desc strong {
  font-weight: initial
}
.card .desc s {
  text-decoration: none;
}
/* .card.boxCard:hover {
  box-shadow: var(--cardShadow)
} */

/* .card.boxCard:hover::after {
  width: 100%;
} */

.swiper-container-horizontal > .swiper-pagination-bullets.inherit {
  position: inherit;
  padding: 35px 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets.inherit.m-2 {
  padding: 20px 0 10px;
}

.card.news {
  width: calc(100% / 3 - 30px);
  margin: 20px 15px;
  /* border-radius: 8px;
  box-shadow: var(--cardShadow); */
  border-bottom: dashed 2px #eee;
}

.card.news .picture {
  /* border-radius: 8px 8px 0 0 ; */
  border-radius: 8px;
  overflow: hidden;
  height: 180px;
}

.card.news .desc {
  padding: 15px 0;
  background: #fff;
  border-radius: 0 0 8px 8px;
}

.card.news .card--title {
  color: var(--textColor);
  font-size: 14px;
  min-height: 100px;
  font-family: var(--titleFont);
}
.card.news .card--title:hover {
  color: #000;
}

.card.news .desc .time {
  font-size: 14px;
  letter-spacing: .5px;
}

.card.news.singleBig {
  width: 50%;
  margin: 10px 15px;
}
.card.news.singleBig .desc {
  height: calc(100% - 300px);
}
.card.news.singleBig h4 {
  min-height: auto;
  font-size: 18px;
}
.card.news.singleBig .picture {
  height: 300px;
}
.cardTopContainer .card.small {
  width: calc(50% - 30px);
  margin: 10px 15px;
}
.cardTopContainer .card.small .picture {
  height: 130px;
}
.cardTopContainer .card.small .card--title {
  font-size: 14px;
  min-height: auto;
  margin-bottom: 10px;
  font-family: var(--titleFont);
}

.cardTopContainer .card.small .desc {
  height: calc(100% - 130px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .card.news {
    width: 100%;
    margin: 20px 0
  }

  .card.news.singleBig {
    width: 100%;
    margin: 20px 0;
  }

  .card.news.singleBig .picture {
    height: 180px;
  }

  .cardTopContainer .card.small {
    width: 100%;
    margin: 20px 0;
  }
  .cardTopContainer .card.small .picture {
    height: 180px;
  }
  .card.news.singleBig h4 {
    font-size: 14px;
    min-height: 50px;
    margin-bottom: 10px;
  }
  .cardTopContainer .card.small .card--title {
    min-height: 50px;
    margin-bottom: 10px;
  }
  .card.news .card--title {
    min-height: 50px;
    margin-bottom: 10px;
  }

  .card.video .picture {
    width: 100%;
    margin: 0;
    height: 185px;
  }
  .card.video {
    background: none;
    margin-bottom: 40px;
  }
  .card.video .desc {
    padding: 10px;
    max-height: none;
  }
  .blog-content p.info {
    width: 90%;
  }
}
