.carousel--item {
  height: 467px!important;
  position: relative;
  overflow: hidden;
}
.carousel--item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel--item:hover .carousel--desc {
  opacity: 1;
}
.carousel--desc {
  position: absolute;
  bottom: 83px;
  width: 100%;
  background: rgba(0,0,0,.55);
  border-radius: 4px;
  text-align: center;
  padding: 22px 20px 20px;
  opacity: .4;
  transition: opacity .3s ease;
}

.carousel--desc h5 {
  font-size: 20px;
  color: #fff;
  margin: 0;
  line-height: 150%;
}

.carousel--desc p {
  font-size: 16px;
  color: var(--textColor-white);
  line-height: 150%;
}
.inlineNews {
  position: absolute;
  bottom: 0;
  height: 40px;
  z-index: 22;
}
.inlineNews .f.mdl > div:first-child {
  width: 165px;
  background: var(--secondaryColor);
  text-align: center;
  border-radius: 10px 0 0 0;
}
.inlineNews .f.mdl > div {
  background: #fff;
  height: 40px;
  width: calc(100% - 235px - 165px);
  overflow: hidden;
}
.inlineNews .f.mdl > div:last-child {
  background: var(--primaryColor);
  width: 235px;
  border-radius: 0 10px 0 0;
  overflow: visible;
}
.inlineNews p {
  font-size: 14px;
  color: var(--primaryColor)
}
.inlineNews a {
  color: var(--primaryColor)
}
.inlineNews a:hover {
  text-decoration: underline;
}

.inlineNews h6 {
  margin: 0;
  font-size: 14px;
  color: var(--primaryColor);
}
.inlineNews h6.s{
  color: var(--secondaryColor);
  font-size: 18px;
  font-style: italic;
  line-height: 165.5%;
  margin-left: 6px;
}

.homeCarousel {
  overflow: hidden;
}