.section h1 {
  font-size: 36px;
  font-family: var(--titleFont);
}
.section h1 .smaller {
  display: block;
  font-size: 24px;
  text-align: center;
  margin: 10px 0;
}

.section p.subtitle {
  margin: 0;
  color: var(--textColor);
  font-size: 18px;
  text-align: center;
}
.layananItem {
  width: 300px;
  position: relative;
  margin: 56px 0;
}
.layananItem h3 {
  font-family: var(--titleFont);
  font-size: 18px;
  padding: 0 0 20px;
  margin: 0;
}
.layananItem p {
  color: var(--textColor);
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.layananItem .overlay {
  position: absolute;
  font-size: 144px;
  color: rgba(0,0,0,.04);
  font-family: var(--titleFont);
  left: 20px;
  top: -90px;
}
.has-line {
  position: relative;
}
.has-line::after {
  content: '';
  height: 4px;
  border-radius: 10px;
  background: var(--secondaryColor);
  width: 54px;
  position: absolute;
  bottom: 0;
  left: calc(50% - (54px/2))
}

.sekilasDesc {
  max-width: 446px;
}

.sekilasDesc p {
  color: var(--textColor);
  line-height: 179%;
  font-size: 16px;
}
.sekilasTentang {
  min-height: 100vh;
}
.section.cctv {
  min-height: 100vh;
  background: #F7F7F7;

}
.section.cctv .swiper-button-next, 
.section.cctv .swiper-button-prev {
  top: 55%
}
.cctv-swiper {
  overflow: hidden;
  width: 871px;
  margin: 40px auto;
  position: relative;
  padding-bottom: 60px;
}
.cctvItem {
  width: 263px;
  height: 335px!important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 37px 20px;
  background: #000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.cctvItem:hover {
  box-shadow: 2px 4px 15px rgba(0,0,0,.3)
}
.cctvItem h2 {
  font-family: var(--titleFont);
  font-size: 32px;
  margin: 0;
  color: #fff;
  width: 100%;
}

.cctvItem .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.cctvItem .bg .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #EEB010 -13.78%, rgba(0, 194, 255, 0.46) 114.81%);
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.cctvItem > *:not(.bg){
  z-index: 2;
}

.cctvItem h2 .small {
  display: block;
  font-size: 22px;
}
.section.banner {
  min-height: calc(100vh - 65px);
  /* min-height: 100vh; */
  position: relative;
}
.section.banner .parallax {
  height: 100%;
  overflow: hidden;
}
.section.banner.small {
  min-height: 330px
}
.section.banner.small .bg .curve-bottom {
  top: 74%
}
.section.banner.small h2 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,.7);
  font-family: var(--titleFont);
  font-size: 36px;
  margin: 0;
}
.section.banner h1 {
  font-size: 48px;
  line-height: 132%;
  margin-top: 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,.7)
}

.section.banner p {
  font-size: 18px;
  line-height: 150%;
  color: var(--textColor-white);
}

.section.banner .text {
  width: 50%;
}

.section.banner .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.section.banner .bg .main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section.banner .bg .curve {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.section.banner .bg .curve-bottom {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  z-index: 1;
}
.section.banner *:not(.bg){
  z-index: 2;
}

.section.simulasi {
  position: relative;
  z-index: 3;
}

.section .simulasiBox {
  background: #fff;
  border-radius: 30px;
  padding: 40px 53px;
  border: solid 1px #f4f4f4;
  box-shadow: 2px 4px 15px rgba(0,0,0,.1);
  margin-bottom: 100px;
}
.section .simulasiBox h3 {
  font-family: var(--titleFont);
  font-size: 28px;
  line-height: 132%;
  margin-top: 0;
}
.section .simulasiBox .desc p:not(.info) {
  color: var(--textColor);
  font-size: 16px;
  line-height: 132%;
}
.section .simulasiBox .desc {
  width: 40%;
  border-left: dashed 1px #ccc;
  padding-left: 50px;
}

.section .simulasiBox .desc h1 {
  font-size: 42px;
  color: #f2f2f2;
  margin-bottom: 0;
  margin-top: 10px;
}

.section .simulasiBox .desc h1.val {
  color: var(--primaryColor)
}

.section .simulasiBox .counter{
  width: 60%;
  padding-right: 50px;
}

.section .simulasiBox .inputBox select {
  font-size: 18px;
  height: 55px;
  border: none;
  font-family: var(--primaryFont);
  border-bottom:solid 2px #ddd
}

.section .simulasiBox .inputBox option:disabled {
  display: none;
  color: #ccc
}

.golonganInput {
  position: relative;
}

.golonganInput--styler {
  border-bottom: solid 2px #ddd;
  padding: 16px 11px 16px 15px;
  color: var(--textColor);
  cursor: pointer;
}

.golonganInput--styler p {
  margin: 0;
  color: var(--textColor);
  font-size: 18px;
}
.golonganInput--styler p.filled {
  color: #000
}
.radioInput {
  position: relative
}
.radioInput .styler{
  height: 23px;
  width: 24px;
  border-radius: 50%;
  border: solid 1px #ddd;
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: .2s ease;
}
.radioInput .styler::after {
  content: '';
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--secondaryColor);
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 0;
  transition: .2s ease;

}
.radioInput input[type="radio"]{
  height: 24px;
  width: 24px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.radioInput input[type="radio"]:checked + .styler{
  border-color: var(--secondaryColor);
  box-shadow: 0 0 3px var(--secondaryColor)
}
.radioInput input[type="radio"]:checked + .styler::after {
  opacity: 1;
}
.golonganInput--selector {
  box-shadow: 0px 0px 8px rgba(0,0,0,.1);
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background: #fff;
  pointer-events: none;
  transition: .325s ease;
}
.golonganItem {
  padding: 15px ;
  cursor: pointer;
  transition: .2s ease;
  border-bottom: solid 1px #eee
}
.golonganInput:hover .golonganInput--selector {
  opacity: 1;
  pointer-events: auto;
}
.golonganItem:hover {
  background: #fffae8
}
.golonganItem:hover h3 {
  transform: translateX(10px)
}
.golonganItem .descc {
  padding: 0 20px;
}
.golonganItem .descc img {
  width: 40px;
  margin: 5px 0 0;
}
.simulasiBox .golonganInput--selector h3 {
  font-family: var(--titleFont);
  font-size: 12px;
  color: var(--primaryColor);
  margin: 0;
  transition: .2s ease;
}
.golonganItem h3 span {
  font-size: 12px;
  font-weight: 400;
  color: var(--textColor);
  font-family: var(--primaryFont);
}
.golonganItem p {
  margin: 10px 0 0;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .layananItem {
    width: 100%
  }
  .section h1 {
    font-size: 28px;
  }

  .sekilasTentang {
    min-height: auto;
  }

  .sekilasDesc {
    margin-bottom: 40px;
  }
  .section.banner .text {
    width: 100%;
  }
  .section.banner.small .bg .curve-bottom {
    top: 93%;
  }
  .section.banner h1 {
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0,0,0,.7);
  }
  .section.banner .bg .curve-bottom {
    top: 97%;
  }
  .section .simulasiBox .desc {
    width: 100%;
    padding: 0;
    border-left: none;
  }
  .section .simulasiBox .counter {
    width: 100%;
    padding: 0;
    order: 2;
    margin-top: 30px;
  }
  .section .simulasiBox .inputBox select {
    font-size: 16px;
  }
  .golonganInput--styler p {
    font-size: 16px;
  }

  .section .simulasiBox h3 {
    font-size: 24px;
  }
  .simulasiBox .golonganInput--selector h3 {
    font-size: 16px;
  }
  .section .simulasiBox {
    padding: 40px 33px;
  }
  .section .simulasiBox .desc h1 {
    font-size: 32px;
  }
  .cctv-swiper {
    width: 263px;
  }
  .section h1 .smaller {
    font-size: 18px;
  }
  .layananItem img {
    width: 120px;
  }
}
