.formInput input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background: #23629F;
  height: 45px;
  color: #fff;
  transition: .25s ease;
}
.formInput input:hover {
  background: #2a44a0;
}
.formInput input:focus {
  outline-color: var(--secondaryColor);
}
.formInput input::-webkit-input-placeholder {
  color: rgba(255,255,255,.4);
}
.formInput .hasIcon {
  position: relative;
}
.formInput.white input {
  background: #f4f4f4;
  color: var(--textColor)
}
.formInput.white input:focus {
  background: #fff;
}
.formInput.white input::-webkit-input-placeholder {
  color: #ccc;
}
.formInput .hasIcon input {
  padding-left: 43px;
}
.formInput .hasIcon i {
  position: absolute;
  left: 13px;
  top: 13px;
  font-size: 18px;
  color: rgba(255,255,255,.4)
}
.inputBox {
  margin-bottom: 14px;
  position: relative;
}
.inputBox select {
  height: 40px;
  width: 100%;
  background: none;
  border: solid 1px #eaeaea;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--textColor);
  padding: 0 25px 0 15px;
}
.inputBox select:focus {
  outline-color: var(--secondaryColor);
}
.inputBox.labelInside select {
  border-radius: 0 4px 4px 0;
}
.inputBox.labelInside label {
  background: #f9f9f9;
  border: solid 1px #eaeaea;
  display: block;
  height: 40px;
  padding: 10px 15px;
  font-size: 14px;
  color: var(--textColor);
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.inputBox svg.arrow-down {
  position: absolute;
  right: 10px;
}