.app {
  margin-top: 65px;
}
.header {
  height: 65px;
  /* overflow: hidden; */
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); */
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
.header--menu a {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .065em;
  padding: 25px 20px;
  color: var(--textColor);
}

.header--menu a.active {
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  font-weight: 600;
  color: var(--primaryColor)
}

.header--menu a:hover {
  color: var(--primaryColor)
}

.header--logo img {
  height: 40px;
}

.footer {
  background: #F7F7F7;
  padding: 75px 0 40px;
}
.footer-copyright {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.footer h5 {
  font-weight: 600;
  font-size: 16px;
  color: var(--primaryColor);
  margin: 12px 0;
}
.footer h6 {
  font-size: 14px;
  color: var(--primaryColor);
  margin: 12px 0;
  text-transform: uppercase;
}
.footer p {
  color: var(--textColor);
  font-size: 14px;
  line-height: 165.5%;
}
.footer--logo {
  margin-right: 36px;
}
.footer--logo img {
  width: 185px;
}
.footer li a {
  font-size: 14px;
  color: var(--textColor);
  line-height: 28px;
}

.footer li a:hover {
  color: #222;
}

.footer-menu > div {
  padding-right: 60px;
}
.footer-menu > div:last-child {
  padding-right: 0;
}
.footer-social i {
  font-size: 18px;
  color: var(--textColor);
}
.footer-social a {
  margin: 0 10px;
}
.footer-social a:hover i{
  color: var(--primaryColor)
}
.footer .container:last-child {
  margin-top: 52px;
}
.newsletter {
  background: var(--primaryColor-dark);
  padding: 32px 0;
  overflow: hidden;
  position: relative;
}
.newsletter::before {
  content: '';
  background: var(--secondaryColor);
  height: 100%;
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  transform: skew(-32deg, 6deg);
  /* box-shadow: 7px 3px 20px rgba(0, 0, 0, 0.25098039215686274); */
}
.newsletter .container {
  position: relative;
  z-index: 2;
}
.newsletter h4 {
  font-size: 22px;
  line-height: 150%;
  color: var(--primaryColor);
  margin: 0;
}
.newsletter .container > div:first-child {
  max-width: 464px;
}
.newsletter p {
  color: var(--textColor);
  line-height: 150%;
}
.newsletter input {
  width: 284px;
  background: #213784;
}

.bannerHeader {
  box-shadow: var(--cardShadow);
  z-index: 998;
  position: relative;
}
.bannerHeader .banner {
  height: 120px;
  background: #fff;
}
.bannerHeader .banner h2 {
  font-size: 28px;
  font-family: var(--titleFont);
  line-height: 165.5%;
  font-weight: 600;
  margin: 0;
}

.bannerHeader .banner p {
  font-size: 16px;
  color: var(--textColor);
  margin: 0;
  line-height: 165.5%;
}
.bannerHeader .searchForm input {
  width: 300px;
  height: 38px;
  font-size: 14px;
}
.bannerHeader .searchForm  button{
  position: absolute;
  padding: 0;
  right: 10px;
  color: #ccc;
}
.bannerHeader .subMenu {
  border-top: solid 1px #eaeaea;
}
.bannerHeader .subMenu.fixed {
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 100%;
  top: 65px;
  box-shadow: var(--cardShadow);
}

.bannerHeader .subMenu a {
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 165.5%;
  letter-spacing: .065em;
  color: var(--textColor);
  position: relative;
}

.bannerHeader .subMenu a.active {
  background: #fafafa;
  color: var(--primaryColor);
  font-weight: 600;
}

.bannerHeader .subMenu a:hover {
  background: #fafafa;
}
.bannerHeader .subMenu a.active::before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background: var(--secondaryColor);
  bottom: 0;
  left: 0;
}
.subContentContainer {
  /* background: #f4f4f4; */
  min-height: 300px;
}
.header--buttonMobile {
  padding: 10px;
  margin-right: 10px;
  color: var(--primaryColor-dark);
  display: none;
}
/* .header--buttonMobile:focus + .header--menu {
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
} */
.dropdown {
  position: relative;
}
.dropdown a i {
  font-size: 14px;
  margin-left: 5px;
}
.dropdown:hover .dropdownMenu {
  display: block;
}
.dropdownMenu {
  position: absolute;
  top: 100%;
  background: #fff;
  left: 0;
  display: none;
}
.dropdownMenu li a {
  padding: 20px;
  display: block;
}
.dropdownMenu li a:hover {
  background: rgba(254, 215, 0, .2);
}
@media screen and (max-width: 768px){
  .header--buttonMobile {
    display: block;
  }
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  .header--menu.focus {
    pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
  }
  .header--menu {
    position: fixed;
    left: 0;
    width: 100vw;
    top: 65px;
    z-index: 999;
    pointer-events: none;
    transform: translateY(-20px);
    opacity: 0;
    background: #fff;
    transition: .325s ease;
  }
  .header--menu li {
    width: 100%;
  }
  .header--menu li a {
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .footer-menu {
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .footer-menu > div {
    margin-bottom: 30px;
  }
  .newsletter input {
    width: 190px;
  }
  .newsletter::before {
    display: none
  }
  .newsletter h4 {
    color: #fff;
    font-size: 18px;
  }
  .newsletter p {
    color: var(--textColor-white);
    font-size: 14px;
  }
  .bannerHeader .subMenu ul {
    overflow-x: auto;
  }
  .bannerHeader .subMenu a {
    white-space: nowrap;
  }
  .bannerHeader .searchForm {
    display: none;
  }
  .bannerHeader .banner p {
    font-size: 14px;
  }
  .bannerHeader .banner h2 {
    font-size: 22px;
  }
}
