[data-modal-target] {
  cursor: pointer;
}
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}
.modal.active {
  pointer-events: auto;
}
.modal.active .overlay {
  opacity: 1;
}
.modal.active .modal--body {
  opacity: 1;
  transform: translateY(0);
}
.modal .overlay {
  background: var(--modalOverlay);
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  transition: .5s ease;
}

.modal .modal--body {
  max-width: 1080px;
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 2;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--cardShadow);
  transform: translateY(40px);
  opacity: 0;
  transition: .3s ease;
}

.modal.hasil-kerja .modal--body{
  min-height: 80vh;
}
.modal.hasil-kerja .picture {
  width: 600px;
  max-height: 80vh;
}
.modal.hasil-kerja .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal.hasil-kerja .desc {
  width: calc(100% - 600px);
  padding: 47px;
  justify-content: flex-end;
}
.modal.hasil-kerja .desc h1 {
  font-size: 28px;
  margin: 0;
  font-family: var(--titleFont);
}

.modal.hasil-kerja .desc p {
  line-height: 206%;
  color: var(--textColor);
}

.modal.hasil-kerja .desc .info {
  font-size: 16px;
  margin: 10px 0;
}

.modal button#close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.modal.video .modal--body {
  background: none;
  max-width: none;
  width: auto;
}
.closeModal-mobile{
  margin-top: 20px;
  display: none
}
@media screen and (max-width: 768px){
  .modal .modal--body {
    max-width: none;
    border-radius: 0;
  }
  .closeModal-mobile {
    display: block;
  }
  .modal.hasil-kerja .desc {
    width: 100%;
    padding: 40px 20px;
    height: calc(100vh - 200px);
    display: block;
    overflow-y: auto;
  }
  .modal.hasil-kerja .desc h1 {
    font-size: 18px
  }
  .modal.hasil-kerja .modal--body {
    min-height: 100vh;
  }
  .modal button#close-modal {
    color: #fff;
  }
  .modal button#close-modal i { 
    font-size: 32px;
  }

  .modal.hasil-kerja .picture {
    height: 200px;
  }
  .modal--body iframe {
    width: 100%;
    height: auto;
  }
}