:root {
  --primaryColor: #004689;
  --secondaryColor: #FED700;
  --secondaryColor-light: #ffe14f;
  --primaryColor-dark: #001254;
  --textColor: rgba(0,0,0,.65);
  --textColor-white: rgba(255,255,255,.85); 
  --titleFont: 'Raleway', sans-serif;
  --primaryFont: 'Arimo', sans-serif;
  /* --primaryFont: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif; */
  --cardShadow: 2px 4px 15px rgba(0, 0, 0, 0.05);
  --modalOverlay: rgba(0,0,0,.5);

  --mobileScreen: 768px;
}